*{
margin: 0;
/* padding: 0;
box-sizing: border-box; */
}

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* navigation style start */
header{
    background-color:  #FFF8F3;
}

.nav-title{
    color: #181818;
    size: 45px;
    font-weight: 800;
}

.nav-title-style{
    color: #FD6E0A;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 0 226px 0  230px;


}

nav ul{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    align-items: center;
}

nav ul li{
    list-style: none;
}

.hire-me-btn{
    font-size: 20px;
    font-weight: bold;
    background-color: #FD6E0A;
    padding: 19px 35px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}
/* navigation style end */

/* shared styles */



/* banner style start */
.banner{
    display: flex;
    align-items: center;
}

.banner-content{
    margin: 0 auto;
}

header{
    background-image: url(images/developer.png), url(images/header_bg.png);
    background-position: left , right bottom;
    background-repeat: no-repeat;
    background-size: 90px, auto;
}

.banner-content{
   margin: 0 auto;
}

.greetings{
    font-size: 45px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    color: #474747;
}

.dev-name{
    font-size: 85px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #181818;
}

.dev-description{
    font-size: 18px;
    color: #757575;
    margin: 0;
    padding: 20px 0;
}



.download-btn{
    background-color: #FD6E0A;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 18px;
    font-size: 20px;
    text-decoration: bold;
    margin-right: 30px;
}

.contact-btn{
    background-color: #FFFFFF;
    color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px;
    font-size: 20px;
    text-decoration: bold;
    padding: 18px 23px 19px 24px;
    border: 1px solid #FD6E0A;
    font-size: 20px;
    

}
/* banner style end */
/* About section style start */
main{
   max-width: 1140px;
    /* max-height: 540px; */
    margin: 0 auto;
}
.about{
     
    background-color: #FFF8F3;
    padding: 131px 157px;
    margin-top: 41px;
    text-align: center;
    border-radius: 10px;
}

.about-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.about-description{
    color: #757575;
    font-size: 18px;
}

.about-items{
    display: flex;
    justify-content: space-between;

}

.item-title{
    color: #757575;
    font-size: 20px;
}

.item-description{
    color: #474747;
    font-size: 20px;
    font-weight: bold;
}

/* about section style end */

/* skill section style start */

.skills-intro{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-align: center;
    padding: 30px 0 0 0 ;
}
.skills-intro-description{
    font-size: 18px;
    color: #757575;
    text-align: center;
    padding: 0 345 50 345;
}

.skills-section{
    margin: 0 auto;
 max-width: 909px;
    /* max-height: 168px; */
}

.skills-container{
    display: flex;
    gap: 24px;
    
}
.skills{
    border-radius: 5px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
    padding: 30px;
}

/* about section style end */

/* resume section style start */

.resume{
    display: flex;
    gap: 71px;
    align-items: center;
}

.resume-title{
    text-align: center;
   color: rgba(24, 24, 24, 1);
   font-size: 35px;
   font-weight: bold;
   padding: 30px 0 0 0;
}

.resume-collum-title{
    color: rgba(71, 71, 71, 1);
    font-size: 30px;
    font-weight: bold;
}

.experience-title{
    font-size: 25px;
    font-weight: bold;
    color: rgba(71, 71, 71, 1);
}

.experience-sub-title{
    color: rgba(117, 117, 117, 1);
    font-size: 20px;
    font-weight: 600;

}

.experience-description{
    color: rgba(117, 117, 117, 1);
    font-size: 16px;
    padding: 0px 0 30px 0;
}

.download-btn-2{
    background-color: #FD6E0A;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 18px;
    font-size: 20px;
    text-decoration: bold;
}

.download-btn-secondary{
    text-align: center;
    margin: 50px 0 113px 0;
}

/* resume section end */
/* footer section style start */

footer{
    display: flex;
    background-color: #FFF8F3;
    justify-content: space-around;
}

.footer-title{
    color: rgba(24, 24, 24, 1);
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-collum{
    padding: 130px;
    
}

.footer-description{
    color: rgba(71, 71, 71, 1);
    font-size: 16px;
    margin-bottom: 30px;
    
}

input{
    background-color: white;
    border: none;
    margin-bottom: 24px;
    border-radius: 5px;
    
}


input[placeholder]{
    font-size: 16px;
    color: rgba(117, 117, 117, 1);
    padding: 18px 349px 18px 35px;
}

textarea {
   border: none;
   border-radius: 5px;
   margin-bottom: 24px;
}

textarea[placeholder]{
    font-family: sans-serif;
     font-size: 16px;
    color: rgba(117, 117, 117, 1);
    padding: 18px 365px 134px 30px;
}


/* footer section style end */